
/* ###################### CSS HEADER SECTION ############################# */


.mainHeader {
    background-color: var(--color-dark);
}

.mainHeader .bg-light {
    background-color: transparent !important;
}


.mainHeader .navbar-nav .nav-link {
    color: var(--color-white);
    text-transform: capitalize;
    transition: all .4s ease-in-out;
    position: relative;
}

.mainHeader .navbar-light .navbar-nav .active>.nav-link,
.mainHeader .navbar-light .navbar-nav .nav-link.active,
.mainHeader .navbar-light .navbar-nav .nav-link.show,
.mainHeader .navbar-light .navbar-nav .show>.nav-link,
.mainHeader .navbar-nav .nav-link:hover,
.mainHeader .navbar-nav .nav-link:focus,
.mainHeader .navbar-nav .nav-link:active {
    color: var(--color-primary);
}

.mainHeader .navbar-nav .nav-link::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: var(--color-primary);
    transition: all .3s ease-in-out;
}


.mainHeader .navbar-nav .nav-link:hover::after,
.mainHeader .navbar-nav .nav-link:focus::after,
.mainHeader .navbar-nav .active .nav-link::after {
    width: 100%;
}

.mainHeader .navbar-light .navbar-toggler {
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.mainHeader .navbar-light .navbar-toggler i {
    font-size: 1.25rem;
    color: var(--color-primary);
}

/* ###################### CSS HEROIMG SECTION ############################# */

.section {
    padding: 7.5rem 0;
}

.heroImg {
    height: calc(100vh - 57.7px);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/bgImg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.mainHeading {
    font-size: 2.25rem;
    color: var(--color-white);
}



.heroImgPara {
    color: var(--color-white);
    font-weight: 300;
    margin-bottom: 1.875rem;
}

.heroInfo .primary {
    padding: 15px 30px;
    background: transparent;
    color: #fff;
    border: 2px solid var(--color-white);
    font-weight: 700;
    position: relative;
    z-index: 1;
}

.heroInfo .primary::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-primary);
    z-index: -1;
    transition: all .5s ease-in-out;
}

.heroInfo .primary:hover::after,
.heroInfo .primary:focus::after,
.heroInfo .primary:active::after {
    width: 100%;
}

.trialForm .card-header {
    background-color: var(--color-secondary);

}


.trialForm .card-header h2 {
    font-size: 1.25rem;
    font-weight: bold;
}

.trialForm .card-header span {
    color: var(--color-primary);
}

.secondary {
    border: 0;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 10px 20px;
}

.heroImg .card {
    border: 0;
    overflow: hidden;
}

.trialForm .card-footer {
    padding: 0;
    background-color: var(--color-primary);
   
}

.trialForm input{
    border: 0px;
    border-bottom: 1px solid var(--color-placeholder);
    border-radius: 0px;
}

.trialForm input::placeholder{
    color: var(--color-placeholder);
}

/* ###################### CSS SOCIALICONS SECTION ############################# */

.socialIcons{
    padding: 30px 0;
    border-bottom: 2px solid var(--color-border);
}

.socialIcons i{
    font-size: 40px;
    color: var(--color-tri);
    transition: all .3s ease-in;
}

.socialIcons i:hover,
.socialIcons i:focus,
.socialIcons i:active{
    color: var(--color-primary);
    transform: scale(1.2);
}

/* ###################### CSS TAB SECTION ############################# */

.featureTab .nav {
    flex: 0 0 110px;
    /* flex-direction: column; */
    background-color: var(--tab-bgcolor);
}

.featureTab li.nav-item .nav-link {
    padding: 50px 0;
    margin: 0;
    width: 100%;
    color: var(--color-white);
    height: 100%;
}

.featureTab li.nav-item{
    flex: 0 0 100%;
}

.features1 .nav-link.active{
    background-color: var(--color-primary);
}

.features1 .tab-content{
    padding-left: 100px;
}


.features1 .tab-content h3{
   margin-bottom: 60px;
}

.tab-content .secondary{
    border-radius: 3px;
    border: 2px solid var(--color-primary);
     transition: all .3s ease-in-out;
}

.features1 .secondary:hover{
    color: var(--color-primary);
    background-color: var(--color-white);
    transform: translateY(-2px);
    border: 2px solid var(--color-primary);
}


/* ###################### CSS SUB LIST FEATURE 2 SECTION ############################# */

.featureImg{
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
    transition: all .2s ease-in-out;
}

.featureImg:hover,
.featureImg:focus,
.featureImg:active{
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-3px) scale(1.03);
}

.cloudIcon{
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    border: 2px solid var(--color-primary);
    line-height: 2.5rem;
    border-radius: 50%;
}

.cloudIcon i{
    font-size: 1.125rem;
    color: var(--color-primary);
}

.awesome .cloudIcon{
    height: 4.063rem;
    width: 4.063rem;
    line-height: 4.063rem;
}

.awesome .cloudIcon i{
    font-size: 1.563rem;
}

/* ###################### CSS PRICING SECTION ############################# */

.pricing .card{
    border: 0px;
}

.pricing .card-header{
    color: var(--color-white);
    background-color: var(--tab-bgcolor);
    font-size: 1.25rem;
    font-weight: 700;
    padding: 1.375rem 0;
    border-bottom: 1px solid var(--color-secondary);
}

.pricing .price-details{
    background-color: var(--tab-bgcolor);
    color: var(--color-white);
    padding: 1.75rem 0 1.5rem;
    border-bottom: 5px solid var(--color-primary);
}

.plan-price{
    font-size: 2.25rem;
}

.plan-price span{
    font-size: 5.938rem;
    transform: translateX(-10px);
    display: inline-block;
}

.time-span{
    font-size: 14px;
    font-weight: 500;
}

.plan-offering li{
    font-size: 14px;
    color: var(--color-text-sec);
    border: 0px;
}

.plan-offering li:not(:last-child){
    border-bottom: 1px solid var(--color-secondary);
}

.mostPopular  .price-details{
    border: 0;
}

.mostPopular .popularInfo{
    color: var(--color-white);
    background-color: var(--color-primary);
    font-size: 14px;
    
}